#edit{
    color: rgb(104, 104, 104);
}

#edit:hover{
    transition: 400ms;
    color: rgb(67, 67, 67);
}

main{
    position: relative;
}

#add{
    top: 15%;
    position: fixed;
    z-index: 1000;
}
.add-bt{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.409); 
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(217, 217, 217);
}
#add-div{
    display: flex;
    justify-content: end;
}

.add-bt:hover{
    transition: 200ms;
    background-color: rgb(160, 160, 160);
}

.remedy{
    width: 266.34px;
}

@media (max-width: 863px) {
    #medications{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}